.progress-bar-container {
    width: 100%;
    background-color: #e0e0df;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    height: 30px;
  }
  
  .progress-bar {
    background-color: #76c7c0;
    height: 100%;
    width: 0;
    color: white;
    text-align: center;
    line-height: 30px; /* Para centrar verticalmente el texto */
  }
  
